/.envrc
/.direnv
/result*
/repl-result*

.idea/
.gopath/
/cpanel-matrix
logs/
*.env
!.env.example
config.yaml
sync_state.json

debian/*.debhelper
debian/*.substvars
debian/files
debian/cpanel-matrix/
debian/.debhelper/
obj-*/
*.deb
*.log
**/*/debhelper-build-stamp
